{% extends 'base_layout.html' %}
{% load static %}

{% block content %}
{% csrf_token %}
<a href="{% url 'playlist:song' %}" class="btn btn-primary mt-2" style="float:right;">Add New Song to your Playlists</a>
{% if not isEmpty %}
<div>
<button  id="delButton" class="btn btn-danger mr-5" style="float:right;margin-top: 9px;" onclick="delButtonOnClick()">Delete Multiple</button>
</div>
{% endif %}
{% if messages %}
{% for message in messages %}
<strong>{{message}}</strong>
{% endfor %}
{% endif %}
<h1 align="center"><u>Your Music</u></h1>
<form action="{% url 'playlist:general' %}" method="POST">
{% csrf_token %}

{% for song in songs %}
<!-- <div class="mt-4 card">
<div class="card-body" style="width: 18rem;">
<span style="font-size:37px;margin-bottom: 3px;">{{song.name}}</span>

    <audio controls  style="height:35px;background-color:black;color:black;" class="ml-3 mb-0">
        <source src="{{song.track.url}}" type="audio/mp3">
    </audio>

    <a href="{% url 'playlist:delete' type=4 id=song.id %}" class="btn btn-danger mr-5 delsolo" style="float:right;">Delete Song</a>

    <input type="checkbox" style="width:20px;height:20px;float:right;display:none;margin:2%" class="delMultiple" name="songoption" value="{{song.id}}">
-->





<div class="card mt-2 ml-4" style="width: 17rem;height: 20rem;float:left;">
    <img class="card-img-top" src="{% static 'download1.jpg' %}" alt="Card image cap">
    <h5 class="card-title">{{song.name}}</h5>
    <div>

    <!-- <audio controls  style="height:35px;background-color:black;color:black;">
        <source src="{{song.track.url}}" type="audio/mp3">
    </audio> -->
    <input type="checkbox" style="width:20px;height:20px;float:right;display:none;margin:2%" class="delMultiple" name="songoption" value="{{song.id}}">
    {% if song.fav %}
    <i id="fav{{song.id}}" class="fa fa-heart-o" style="color:red;cursor:pointer;margin-left:1%;font-size:30px" onclick="favchange(event,{{song.id}});"></i>
    {% else %}
    <i id="fav{{song.id}}" class="fa fa-heart-o" style="cursor:pointer;margin-left: 1%;font-size:30px;" onclick="favchange(event,{{song.id}});"></i>
    {% endif %}
    <a href="{% url 'playlist:playsong' sid=song.id %}" class="btn btn-primary ml-1 mb-1" style="font-size:15px;">Listen song</a>
    <a href="{% url 'playlist:delete' type=4 id=song.id %}" class="btn btn-danger delsolo ml-1 mb-1" >Delete Song</a>

    </div>
  </div>
{% endfor %}

<button type='submit' id="submitButton" class="btn btn-danger mr-5" style="display:none;float:right;" >Delete Selected</button>
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>


    function delButtonOnClick(){

        elemnt=document.getElementById('delButton');
        elemnt.innerText="Delete Selected";
        elemnt.style.display="none";
        elemnt=document.getElementsByClassName('delsolo');
        for(var i=0;i<elemnt.length;i+=1){
            elemnt[i].style.display="none";
        }
        elemnt=document.getElementsByClassName('delMultiple');
        for(var i=0;i<elemnt.length;i+=1){
            elemnt[i].style.display="initial";
        }
        element=document.getElementById('submitButton');
        element.style.display="initial";

    }
    function favchange(event,id){
    var csrf=$("input[name=csrfmiddlewaretoken]").val();
    var elemnt=document.getElementById("fav"+id);

    if (elemnt.style.color=='red'){
        $.ajax({
            url:'/playlist/fav/' + id,
            data:{
                csrfmiddlewaretoken : csrf,
                fav : "no"
            },
            type:'post',
            success : function(response){
                elemnt.style.color='black';
            }


        });




    }
    else{
        $.ajax({
            url:'/playlist/fav/' + id,
            data:{
                csrfmiddlewaretoken : csrf,
                fav : "yes"
            },
            type:'post',
            success : function(response){
                elemnt.style.color='red';
            }


        });

    }
    }



</script>






{% endblock %}

