{% extends 'base_layout.html' %}
{% block content %}
    <form action="{% url 'playlist:song' %}" method="post" enctype="multipart/form-data" class="mt-3" method="post">
        {%csrf_token%}
        <div class="song">
            <label for="playlist">Choose Playlist:</label>
            <select name="playlist">
                <option value="0">Happy</option>
                <option value="1">Angry</option>
                <option value="2">Sad</option>
                <option value="3">Neutral</option>
                <option value="4">General</option>
            </select>
            <p></p>
            {{ form.as_p }}
        </div>
        <button type="submit" class="btn btn-primary" >Continue</button>
    </form>
{% endblock %}